@model IEnumerable<PetHotel>

@{
    ViewData["Title"] = "Index";
}

<section class="hero">
    <div class="hero-content">
        <h1 class="fade-in">Explore our cozy hotels and shelters</h1>
        <p class="fade-in-delay">Hospitable and comforting environment</p>
    </div>
</section>

<section class="facilities">
    <div class="facilities-grid">
        @if (Model.Any())
        {
            @foreach (var facility in Model)
            {
                <div class="facility-card">
                    <h3>@facility.Name</h3>
                    <img src="@Url.Content(facility.Outside_View)" alt="@facility.Name Facility" />
                    <a href="@Url.Action("Details", new { city = facility.City })">
                        <button class="view-btn">View</button>
                    </a>
                </div>
            }
        }
        else
        {
            <p>...</p>
        }
        @if (User.IsInRole("Admin"))
         {
        <a class="nav-link text-dark" asp-area="" asp-controller="PetHotels" asp-action="Create">
            <div class="pet-card add-pet-card">
                <p>Hotels</p>
                <p>Create PetHotel</p>
            </div>
        </a>
        }
    </div>
</section>